/* =======
   OVERALL
   ======= */

body {
  background: #800219;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* =====
   LINKS
   ===== */

a {
  color: #CC1E14;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* =========
   HEADLINES
   ========= */

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.3em;
}

h2 {
  font-size: 1.2em;
  margin-top: 15px;
  color: #bd0625;
  font-weight: bold;
}

h3 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #C36175;
  font-size: 0.8em;
}

/* ==============
   FLASH MESSAGES
   ============== */

.flash {
  font-size: 1.8em;
  text-align: center;
  padding: 20px 0;
  letter-spacing: .1em;
  font-variant: small-caps;
  text-transform: lowercase;
}

.flash_error {
  color: #BE0726;
}

/* ====
   TEXT
   ==== */

p {
  margin-top: 15px;
}

strong {
  font-weight: bold;
}

/* =====
   FORMS
   ===== */

form {
  margin-top: 15px;
  clear: both;
  padding-left: 20px;
  width: 400px;
  margin: 0 auto;
}

fieldset {
  border: dashed 1px #000;
  padding: 0 20px 20px 20px;
}

legend {
  font-weight: bold;
  font-size: 1.5em;
}

label {
  font-weight: bold;
  font-size: .9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text], input[type=password] {
  font-size: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #7F041A;
  padding: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid #bd0625;
}

textarea {
  width: 395px;
  height: 350px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #7F041A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px;
}

/* =====
   LISTS
   ===== */


/* ======
   TABLES
   ====== */

table {
  margin-top: 15px;
  border-collapse: collapse;
  color: #7D0019;
}

caption {
  margin-top: 15px;
}

tr, td, th {
  padding: 10px;
}

th {
  color: #7D0019;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: .5em;
  padding-bottom: 10px;
}

tr {
  border: dashed #F0B3C1;
  border-width: 1px 0;
}

td.score-col {
  background: rgba(240, 179, 193, 0.2);
}

tr:first-child {
  border: none;
  border-bottom: 1px dashed #F0B3C1;
}

tr.odd {
  background: rgba(240, 179, 193, 0.2);
}

/* ====
   ETC.
   ==== */

.pagination {
  font-size: 1.2em;
  line-height: 1.833;
  float: right;
}

/* ======
   HEADER
   ====== */

#header {
  height: 100px;
  width: 980px;
  margin: 0 auto;
  background: #E6EFF7;
}

#header h1 {
  float: left;
  font-weight: none;
  font-size: 36px;
  margin-top: 40px;
  margin-left: 10px;
  color: #bd0625;
}

#header a#logo {
  float: right;
  background: url(/images/rb-logo.png) top right no-repeat;
  width: 345px;
  height: 143px;
  display: block;
  margin-right: 5px;
}

#header a#logo span {
  display: none;
}

/* ==========
   NAVIGATION
   ========== */

#navigation {
  width: 980px;
  margin: auto;
  background: #1A1A21;
}

#navigation li {
  display: inline-block;
  border-right: solid 1px #aaa;
  margin-left: -4px;
  background: transparent;
  font-size: 1em;
  padding: 7px 10px;
  padding-bottom: 10px;
}

#navigation .active {
  background: #E6EFF7;
}

#navigation .active:hover {
  background: #E6EFF7;
}

#navigation li:hover {
  background: #F0DB92;
}

#navigation li:hover a {
  color: #1A1A21;
}

#navigation li:last-child {
  border-right: none;
}

#navigation li:first-child {
  border-right: none;
  margin-left: 0;
}

#navigation li a {
  color: #F0DB92;
  text-decoration: none;
  padding: 7px 4px;
}

/* =========
   CONTAINER
   ========= */

.container {
  background: #fff url(/images/1px-bg.png) top right repeat-y;
  padding: 0 20px 20px 10px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-radius-bottom-left: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-radius-bottom-right: 20px;
  
}

#scoreboard {
  width: 100%;
}

/* =======
   SIDEBAR
   ======= */

#sidebar {
  padding-left: 15px;
}

#sidebar h3 {
  color: #7E724A;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: .5em;
  padding-bottom: 10px;
}

#sidebar li {
  font-size: 0.8em;
  list-style: none;
  padding-bottom: 3px;
  padding: 0 0 10px;
  color: rgba(0, 0, 0, 0.7);
}

#sidebar #links li {
  font-size: 0.9em;
  padding-bottom: 0;
}

/* ======
   FOOTER
   ====== */

#footer {
  text-align: center;
  color: #fff;
  font-size: .8em;
  margin: 10px 0;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #000;
  background: #fff;
}

.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  display: block;
  height: 35px;
  font-size: 16px;
  margin-right: 3px;
  margin-left: 2px;
  text-decoration: none;
  padding: 2px 9px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  background: #bd0625;
}