/* =====
   RESET
   ===== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* =======
   OVERALL
   ======= */

body {
  background: #800219;
  font-family: Helvetica, Verdana, Arial, Sans-serif;
}

/* ======
   HEADER
   ====== */

a#logo {
  background: url(/images/logo.png);
  width: 345px;
  height: 143px;
  margin: 20px auto;
  display: block;
}

a#logo span {
  display: none;
}

/* ==========
   NAVIGATION
   ========== */

#navigation {
  width: 960px;
  margin: auto;
  background: #ebebeb;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-topleft: 20px;
}

#navigation li {
  display: inline-block;
  border-right: solid 1px #aaa;
  padding: 10px 15px;
  background: #ebebeb;
  font-size: 0.9em;
}

#navigation .active {
  background: #fff;
}

#navigation li:last-child {
  border-right: none;
}

#navigation a {
  color: #00f;
}

/* =========
   CONTAINER
   ========= */

#container {
  background: #fff;
  margin: auto;
  width: 920px;
  padding: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-radius-bottom-left: 20px;
}

/* =======
   SIDEBAR
   ======= */

#sidebar {
  margin-top: 20px;
}

#sidebar li {
  list-style: none;
  padding-bottom: 5px;
}

/* ======
   FOOTER
   ====== */

#footer {
  text-align: center;
  color: #fff;
  font-size: .8em;
  margin: 10px 0;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #000;
  background: #fff;
}

/* =========
   HEADLINES
   ========= */

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.3em;
}

h2 {
  font-size: 1.5em;
  margin-top: 15px;
  text-align: center;
}

/* ==============
   FLASH MESSAGES
   ============== */

.flash {
  font-size: 1.8em;
  text-align: center;
  padding: 20px 0;
  letter-spacing: .1em;
  font-variant: small-caps;
  text-transform: lowercase;
}

.flash_error {
  color: #BE0726;
}

/* ====
   TEXT
   ==== */

p {
  margin-top: 15px;
}

/* =====
   FORMS
   ===== */

form {
  margin-top: 15px;
  clear: both;
}

fieldset {
  border: dashed 1px #000;
  padding: 0 20px 20px 20px;
}

legend {
  font-weight: bold;
  font-size: 1.5em;
}

input[type=text], input[type=password], input[type=submit] {
  font-size: 1.5em;
}

/* ======
   TABLES
   ====== */

table {
  margin-top: 15px;
  border-collapse: collapse;
}

tr, td, th {
  padding: 10px;
}

th {
  font-weight: bold;
}

tr {
  border: dashed #000;
  border-width: 1px 0;
}

tr.odd {
  background: #ebebeb;
}

/* ====
   ETC.
   ==== */

.pagination {
  font-size: 1.2em;
  line-height: 1.833;
  float: right;
}
