<h1>New event</h1>

<% form_for(@event) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} -%>
  <div><%= form.submit 'Create' -%></div>
<% end %>

<p><%= link_to 'Back', :back -%></p>
